{% extends 'learning_logs/base.html' %}

{% block content %}
    <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a></p>
    
    <div class="alert alert-danger">
        <h4>Delete Topic</h4>
        <p>Are you sure you want to delete the topic "<strong>{{ topic.text }}</strong>"?</p>
        <p><strong>Warning:</strong> This will also delete all entries associated with this topic.</p>
        
        <form action="{% url 'learning_logs:delete_topic' topic.id %}" method='post'>
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock content %}
