{% extends "learning_logs/base.html" %}

{% block extra_head %}
<style>
    /* Ensure CKEditor is tall enough */
    .ck-editor__editable_inline {
        min-height: 200px;
    }
</style>
{% endblock extra_head %}

{% block content %}
    <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

    <p>Add a new entry:</p>
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post' novalidate>
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Add entry</button>
    </form>
{% endblock content %}

{% block extra_js %}
<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        ClassicEditor
            .create( document.querySelector( 'textarea' ) )
            .catch( error => {
                console.error( error );
            } );
    });
</script>
{% endblock extra_js %}